.header {
  .show-header-bot {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    // animation: topIn 0.5s ease-in-out;
    transition: top 0.8s ease-in-out;
  }
  &-bot {
    background: $bg-header-bot;
    font-size: 15px;
    text-transform: capitalize;
    height: 80px;
    line-height: 80px;
    top: -80px;
    &-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-logo {
    width: 150px;
    height: 48px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    &-item {
      display: block;
      padding: 0 37px;
      position: relative;
      &:hover .header-submenu {
        visibility: visible;
        height: 400px;
      }
      &:hover:nth-child(2) .header-submenu {
        visibility: visible;
        height: 350px;
      }
      &:hover:nth-child(3) .header-submenu {
        visibility: visible;
        height: 200px;
      }
      &:hover:nth-child(4) .header-submenu {
        visibility: visible;
        height: 350px;
      }
      &:hover:nth-child(5) .header-submenu {
        visibility: visible;
        height: 200px;
      }
      &:hover:nth-child(6) .header-submenu {
        visibility: visible;
        height: 200px;
      }
    }
    &-link {
      display: inline-block;
      color: $text-heading-color;
      font-weight: 600;
      line-height: calc(25 / 15);
      position: relative;
      &::after {
        content: "";
        height: 2px;
        width: 0;
        background: $primary-color;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: width 0.2s ease;
      }
      &:hover {
        color: $primary-color;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  &-submenu {
    position: absolute;
    background: $bg-header-bot;
    font-size: 14px;
    left: 0;
    padding: 30px;
    line-height: calc(24 / 14);
    font-weight: 500;
    width: 250px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height ease-out 0.4s;
    z-index: 99;

    &-item {
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &:hover {
        color: $primary-color;
      }
      &:hover .header-subsubmenu {
        opacity: 1;
        visibility: visible;
      }
    }
    &-link {
      display: inline-block;
      color: $text-heading-color;
      position: relative;
      &::after {
        content: "";
        height: 2px;
        width: 0;
        background: $primary-color;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: width 0.2s ease;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
  &-subsubmenu {
    position: absolute;
    right: -280px;
    top: 0;
    width: 250px;
    background: #fff;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    visibility: hidden;
    z-index: 98;
    &-item {
      padding: 5px 0;
    }
    &::before {
      content: "";
      width: 70px;
      height: 30px;
      position: absolute;
      left: -50px;
      top: 0;
    }
    &-link {
      display: inline-block;
      color: $text-heading-color;
      position: relative;
      &::after {
        content: "";
        height: 2px;
        width: 0;
        background: $primary-color;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: width 0.2s ease;
      }
      &:hover {
        color: $primary-color;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  &-shopping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      position: relative;
      &:hover .status-cart {
        height: 100px;
        visibility: visible;
      }
    }
    &-link {
      display: block;
      color: $text-heading-color;
      font-size: 21px;
      padding-left: 30px;
      transition: $transition;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .status-cart {
    position: absolute;
    width: 250px;
    right: 0;
    background: $bg-header-bot;
    padding: 10px;
    text-align: center;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    z-index: 98;
  }
}

.bg-modal-search {
  background: $bg-overlay;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  z-index: 99;
}
.show-modal-search {
  visibility: visible;
  opacity: 0.9;
}
.modal-search {
  max-width: 930px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}
.close-search {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  color: $text-color-header-top;
  padding: 10px 20px;
  cursor: pointer;
}
.close-search:hover {
  color: $primary-color;
}

.input-search {
  padding: 0 35px;
  height: 100%;
  margin: 0;
  color: #848484;
  background-color: #fff;
  width: 80%;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.sidebar {
  background: $bg-header-bot;
  position: fixed;
  top: 0;
  right: 0;
  width: 458px;
  height: 100%;
  overflow-y: scroll;
  padding: 40px 50px;
  text-align: center;
  box-shadow: 5px 8px 13px 2px rgba(0, 0, 0, 10%);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 999;
}
.show-sidebar {
  transform: translateX(0);
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.close-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: $text-heading-color;
  padding: 10px 20px;
  cursor: pointer;
}
.logo-sidebar {
  width: 100%;
  right: 0;
  left: 0;
  margin: 20px 0;
  img {
    max-width: 204px;
    width: 100%;
    height: 100%;
  }
}
.title-sidebar {
  font-size: 16px;
  font-weight: 500;
  font-family: monospace;
  line-height: 1.5;
  margin: 10px 0 30px;
}
.desc-sidebar {
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0 10px;
}
.heading-sidebar {
  font-size: 18px;
  font-weight: 600;
  margin: 30px;
}
.search-sidebar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  input {
    width: 80%;
    padding: 9px 0px 11px 21px;
  }
  button {
    width: 20%;
    padding: 12px;
  }
}

.socials-sidebar {
  i {
    background: $primary-color;
    color: $text-color-header-top;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
    font-size: 20px;
    margin: 5px;
  }
}
