.subscribe {
  background: $primary-color;
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  &-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: $clr-subscribe-text;
  }
}
