$font: "Poppins", sans-serif;
$text-heading-color: #212121;
$text-color-main: #505050;
$primary-color: #3fd0d4;
$bg-header-bot: #fff;
$bg-header-top: #111;
$text-color-header-top: #fff;
$bg-header-top-languages: #3abcd1;
$fz-header-top: 13px;
$transition: all ease-in 0.3s;
$bg-overlay: #3ab3b5;
$bg-plan: #f8f8f8;
$color-plan-top-content: #fff;
$bg-plan-bot-content: #fff;
$color-plan-bot-content: #000;
$color-member-info: #505050;
$color-member-name: #000;
$color-unforgettable-content: #fff;
$clr-reviews-heading: #fff;
$-bg-reviews-item: #fff;
$clr-reviews-title: #000;
$clr-blog-content: #000;
$clr-destination-name: #fff;
$clr-pack-up-name: #000;
$clr-subscribe-text: #fff;
$bg-btn-subscribe: #fff;
$clr-btn-subscribe: #000;
$bg-footer: #212121;
$clr-footer-text: #a9a9a9;
$clr-footer-contact: #ffff;
$clr-footer-heading: #ffff;
